.mr1 {
  margin-right: 1px
}

.mr2 {
  margin-right: 2px
}

.mr3 {
  margin-right: 3px
}

.mr4 {
  margin-right: 4px
}

.mr5 {
  margin-right: 5px
}

.mr6 {
  margin-right: 6px
}

.mr7 {
  margin-right: 7px
}

.mr8 {
  margin-right: 8px
}

.mr9 {
  margin-right: 9px
}

.mr10 {
  margin-right: 10px
}

.mr11 {
  margin-right: 11px
}

.mr12 {
  margin-right: 12px
}

.mr13 {
  margin-right: 13px
}

.mr15 {
  margin-right: 15px
}

.mr16 {
  margin-right: 16px
}

.mr17 {
  margin-right: 17px
}

.mr18 {
  margin-right: 18px
}

.mr19 {
  margin-right: 19px
}

.mr20 {
  margin-right: 20px
}

.mr21 {
  margin-right: 21px
}

.mr22 {
  margin-right: 22px
}

.mr23 {
  margin-right: 23px
}

.mr14 {
  margin-right: 14px
}

.mr24 {
  margin-right: 24px
}

.mr25 {
  margin-right: 25px
}

.mr26 {
  margin-right: 26px
}

.mr27 {
  margin-right: 27px
}

.mr28 {
  margin-right: 28px
}

.mr29 {
  margin-right: 29px
}

.mr30 {
  margin-right: 30px
}

.mr40 {
  margin-right: 40px
}

.mr50 {
  margin-right: 50px
}

.mr60 {
  margin-right: 60px
}

.mr70 {
  margin-right: 70px
}

.mr80 {
  margin-right: 80px
}

.mr90 {
  margin-right: 90px
}

.mr100 {
  margin-right: 100px
}

.mr110 {
  margin-right: 110px
}

.mr120 {
  margin-right: 120px
}

.mr130 {
  margin-right: 130px
}

.mr140 {
  margin-right: 140px
}

.mr150 {
  margin-right: 150px
}

.mr160 {
  margin-right: 160px
}

.mr170 {
  margin-right: 170px
}

.mr180 {
  margin-right: 180px
}

.mr190 {
  margin-right: 190px
}

.mr200 {
  margin-right: 200px
}

.mr300 {
  margin-right: 300px
}

.ml1 {
  margin-left: 1px
}

.ml2 {
  margin-left: 2px
}

.ml4 {
  margin-left: 4px
}

.ml5 {
  margin-left: 5px
}

.ml6 {
  margin-left: 6px
}

.ml7 {
  margin-left: 7px
}

.ml8 {
  margin-left: 8px
}

.ml9 {
  margin-left: 9px
}

.ml10 {
  margin-left: 10px
}

.ml11 {
  margin-left: 11px
}

.ml12 {
  margin-left: 12px
}

.ml13 {
  margin-left: 13px
}

.ml14 {
  margin-left: 14px
}

.ml15 {
  margin-left: 15px
}

.ml16 {
  margin-left: 16px
}

.ml17 {
  margin-left: 17px
}

.ml18 {
  margin-left: 18px
}

.ml19 {
  margin-left: 19px
}

.ml20 {
  margin-left: 20px
}

.ml21 {
  margin-left: 21px
}

.ml22 {
  margin-left: 22px
}

.ml23 {
  margin-left: 23px
}

.ml24 {
  margin-left: 24px
}

.ml25 {
  margin-left: 25px
}

.ml26 {
  margin-left: 26px
}

.ml27 {
  margin-left: 27px
}

.ml28 {
  margin-left: 28px
}

.ml29 {
  margin-left: 29px
}

.ml30 {
  margin-left: 30px
}

.ml40 {
  margin-left: 40px
}

.ml50 {
  margin-left: 50px
}

.ml60 {
  margin-left: 60px
}

.ml70 {
  margin-left: 70px
}

.ml80 {
  margin-left: 80px
}

.ml90 {
  margin-left: 90px
}

.ml100 {
  margin-left: 100px
}

.ml110 {
  margin-left: 110px
}

.ml120 {
  margin-left: 120px
}

.ml130 {
  margin-left: 130px
}

.ml140 {
  margin-left: 140px
}

.ml150 {
  margin-left: 150px
}

.ml160 {
  margin-left: 160px
}

.ml170 {
  margin-left: 170px
}

.ml180 {
  margin-left: 180px
}

.ml190 {
  margin-left: 190px
}

.ml200,.ml210 {
  margin-left: 200px
}

.ml220 {
  margin-left: 220px
}

.ml230 {
  margin-left: 230px
}

.ml240 {
  margin-left: 240px
}

.ml250 {
  margin-left: 250px
}

.ml260 {
  margin-left: 260px
}

.ml270 {
  margin-left: 270px
}

.ml280 {
  margin-left: 280px
}

.ml290 {
  margin-left: 290px
}

.ml300 {
  margin-left: 300px
}

.ml310 {
  margin-left: 310px
}

.ml320 {
  margin-left: 320px
}

.ml330 {
  margin-left: 330px
}

.ml340 {
  margin-left: 340px
}

.ml350 {
  margin-left: 350px
}

.ml-1 {
  margin-left: -1px
}

.ml-2 {
  margin-left: -2px
}

.ml-3 {
  margin-left: -3px
}

.ml-4 {
  margin-left: -4px
}

.ml-5 {
  margin-left: -5px
}

.ml-6 {
  margin-left: -6px
}

.ml-7 {
  margin-left: -7px
}

.ml-8 {
  margin-left: -8px
}

.ml-9 {
  margin-left: -9px
}

.ml-10 {
  margin-left: -10px
}

.ml-20 {
  margin-left: -20px
}

.ml-30 {
  margin-left: -30px
}

.ml-40 {
  margin-left: -40px
}

.ml-50 {
  margin-left: -50px
}

.ml-60 {
  margin-left: -60px
}

.ml-70 {
  margin-left: -70px
}

.ml-80 {
  margin-left: -80px
}

.ml-100 {
  margin-left: -100px
}

.ml-110 {
  margin-left: -110px
}

.ml-120 {
  margin-left: -120px
}

.ml-130 {
  margin-left: -130px
}

.ml-140 {
  margin-left: -140px
}

.ml-150 {
  margin-left: -150px
}

.ml-200 {
  margin-left: -200px
}

.m0a {
  margin: 0 auto
}

.m10 {
  margin: 10px
}

.mt1 {
  margin-top: 1px
}

.mt2 {
  margin-top: 2px
}

.mt4 {
  margin-top: 4px
}

.mt5 {
  margin-top: 5px
}

.mt6 {
  margin-top: 6px
}

.mt7 {
  margin-top: 7px
}

.mt8 {
  margin-top: 8px
}

.mt9 {
  margin-top: 9px
}

.mt10 {
  margin-top: 10px
}

.mt20 {
  margin-top: 20px
}

.mt30 {
  margin-top: 30px
}

.mt40 {
  margin-top: 40px
}

.mt50 {
  margin-top: 50px
}

.mt60 {
  margin-top: 60px
}

.mt70 {
  margin-top: 70px
}

.mt80 {
  margin-top: 80px
}

.mt90 {
  margin-top: 90px
}

.mt100 {
  margin-top: 100px
}

.mt110 {
  margin-top: 110px
}

.mt120 {
  margin-top: 120px
}

.mt130 {
  margin-top: 130px
}

.mt140 {
  margin-top: 140px
}

.mt150 {
  margin-top: 150px
}

.mt200 {
  margin-top: 200px
}

.mb1 {
  margin-bottom: 1px
}

.mb2 {
  margin-bottom: 2px
}

.mb4 {
  margin-bottom: 4px
}

.mb5 {
  margin-bottom: 5px
}

.mb6 {
  margin-bottom: 6px
}

.mb10 {
  margin-bottom: 10px
}

.mb11 {
  margin-bottom: 11px
}

.mb12 {
  margin-bottom: 12px
}

.mb13 {
  margin-bottom: 13px
}

.mb14 {
  margin-bottom: 14px
}

.mb15 {
  margin-bottom: 15px
}

.mb16 {
  margin-bottom: 16px
}

.mb20 {
  margin-bottom: 20px
}

.mb30 {
  margin-bottom: 30px
}

.mb40 {
  margin-bottom: 40px
}

.mb50 {
  margin-bottom: 50px
}

.mb51 {
  margin-bottom: 51px
}

.mb52 {
  margin-bottom: 52px
}

.mb60 {
  margin-bottom: 60px
}

.mb70 {
  margin-bottom: 70px
}

.mb80 {
  margin-bottom: 80px
}

.mb100 {
  margin-bottom: 100px
}

.mb110 {
  margin-bottom: 110px
}

.mb120 {
  margin-bottom: 120px
}

.mb130 {
  margin-bottom: 130px
}

.mb140 {
  margin-bottom: 140px
}

.mb150 {
  margin-bottom: 150px
}

.mb160 {
  margin-bottom: 160px
}

.mb170 {
  margin-bottom: 170px
}

.mb180 {
  margin-bottom: 180px
}

.mb190 {
  margin-bottom: 190px
}

.mb200 {
  margin-bottom: 200px
}

.mt-1 {
  margin-top: -1px
}

.mt-2 {
  margin-top: -2px
}

.mt-4 {
  margin-top: -4px
}

.mt-5 {
  margin-top: -5px
}

.mt-10 {
  margin-top: -10px
}

.mt-20 {
  margin-top: -20px
}

.mt-30 {
  margin-top: -30px
}

.mt-40 {
  margin-top: -40px
}

.mt-50 {
  margin-top: -50px
}

.mt-60 {
  margin-top: -60px
}

.mt-70 {
  margin-top: -70px
}

.mt-80 {
  margin-top: -80px
}

.mt-100 {
  margin-top: -100px
}

.mt-110 {
  margin-top: -110px
}

.mt-120 {
  margin-top: -120px
}

.mt-150 {
  margin-top: -150px
}

.mt-200 {
  margin-top: -200px
}

.pr1 {
  padding-right: 1px
}

.pr2 {
  padding-right: 2px
}

.pr4 {
  padding-right: 4px
}

.pr5 {
  padding-right: 5px
}

.pr6 {
  padding-right: 6px
}

.pr7 {
  padding-right: 7px
}

.pr8 {
  padding-right: 8px
}

.pr9 {
  padding-right: 9px
}

.pr20 {
  padding-right: 20px
}

.pr30 {
  padding-right: 30px
}

.pr40 {
  padding-right: 40px
}

.pr50 {
  padding-right: 50px
}

.pr60 {
  padding-right: 60px
}

.pr70 {
  padding-right: 70px
}

.pr80 {
  padding-right: 80px
}

.pr100 {
  padding-right: 100px
}

.pr120 {
  padding-right: 120px
}

.pr150 {
  padding-right: 150px
}

.pr200 {
  padding-right: 200px
}

.pl1 {
  padding-left: 1px
}

.pl2 {
  padding-left: 2px
}

.pl4 {
  padding-left: 4px
}

.pl5 {
  padding-left: 5px
}

.pl6 {
  padding-left: 6px
}

.pl7 {
  padding-left: 7px
}

.pl8 {
  padding-left: 8px
}

.pl9 {
  padding-left: 9px
}

.pl20 {
  padding-left: 20px
}

.pl30 {
  padding-left: 30px
}

.pl40 {
  padding-left: 40px
}

.pl50 {
  padding-left: 50px
}

.pl60 {
  padding-left: 60px
}

.pl70 {
  padding-left: 70px
}

.pl80 {
  padding-left: 80px
}

.pl100 {
  padding-left: 100px
}

.pl120 {
  padding-left: 120px
}

.pl150 {
  padding-left: 150px
}

.pl200 {
  padding-left: 200px
}

.pt1 {
  padding-top: 1px
}

.pt2 {
  padding-top: 2px
}

.pt4 {
  padding-top: 4px
}

.pt5 {
  padding-top: 5px
}

.pt6 {
  padding-top: 6px
}

.pt7 {
  padding-top: 7px
}

.pt8 {
  padding-top: 8px
}

.pt9 {
  padding-top: 9px
}

.pt10 {
  padding-top: 10px
}

.pt20 {
  padding-top: 20px
}

.pt30 {
  padding-top: 30px
}

.pt40 {
  padding-top: 40px
}

.pt50 {
  padding-top: 50px
}

.pt60 {
  padding-top: 60px
}

.pt70 {
  padding-top: 70px
}

.pt80 {
  padding-top: 80px
}

.pt100 {
  padding-top: 100px
}

.pt110 {
  padding-top: 110px
}

.pt120 {
  padding-top: 120px
}

.pt130 {
  padding-top: 130px
}

.pt140 {
  padding-top: 140px
}

.pt150 {
  padding-top: 150px
}

.pt160 {
  padding-top: 160px
}

.pt170 {
  padding-top: 170px
}

.pt180 {
  padding-top: 180px
}

.pt200 {
  padding-top: 200px
}

.pb1 {
  padding-bottom: 1px
}

.pb2 {
  padding-bottom: 2px
}

.pb4 {
  padding-bottom: 4px
}

.pb5 {
  padding-bottom: 5px
}

.pb6 {
  padding-bottom: 6px
}

.pb7 {
  padding-bottom: 7px
}

.pb8 {
  padding-bottom: 8px
}

.pb9 {
  padding-bottom: 9px
}

.pb10 {
  padding-bottom: 10px
}

.pb20 {
  padding-bottom: 20px
}

.pb30 {
  padding-bottom: 30px
}

.pb40 {
  padding-bottom: 40px
}

.pb50 {
  padding-bottom: 50px
}

.pb60 {
  padding-bottom: 60px
}

.pb70 {
  padding-bottom: 70px
}

.pb80 {
  padding-bottom: 80px
}

.pb100 {
  padding-bottom: 100px
}

.pb120 {
  padding-bottom: 120px
}

.pb150 {
  padding-bottom: 150px
}

.pb200 {
  padding-bottom: 200px
}

.pb230 {
  padding-bottom: 230px
}

.p10 {
  padding: 10px
}

.p20 {
  padding: 20px
}

.p30 {
  padding: 30px
}

.fs11 {
  font-size: 11px
}

.fs12 {
  font-size: 12px
}

.fs13 {
  font-size: 13px
}

.fs14 {
  font-size: 14px
}

.fs15 {
  font-size: 15px
}

.fs16 {
  font-size: 16px
}

.fs18 {
  font-size: 18px
}

.fs20 {
  font-size: 20px
}

.fs22 {
  font-size: 22px
}

.fs24 {
  font-size: 24px
}

.fs26 {
  font-size: 26px
}

.fs28 {
  font-size: 28px
}

.fs30 {
  font-size: 30px
}

.fs32 {
  font-size: 32px
}

.fs34 {
  font-size: 34px
}

.fs50 {
  font-size: 50px
}

.fs60 {
  font-size: 60px
}

.fs80 {
  font-size: 80px
}

.fs88 {
  font-size: 88px
}

.fs100,.fs110 {
  font-size: 100px
}

.fs120 {
  font-size: 120px
}

.fs160 {
  font-size: 160px
}

.fs220 {
  font-size: 220px
}

.fw100 {
  font-weight: 100
}

.fw200 {
  font-weight: 200
}

.fw300 {
  font-weight: 300
}

.fw400 {
  font-weight: 400
}

.fw500 {
  font-weight: 500
}

.fw550 {
  font-weight: 550
}

.fw600 {
  font-weight: 600
}

.fwb {
  font-weight: 700
}

.w1 {
  width: 1px
}

.w2 {
  width: 2px
}

.w3 {
  width: 3px
}

.w4 {
  width: 4px
}

.w5 {
  width: 5px
}

.w6 {
  width: 6px
}

.w7 {
  width: 7px
}

.w8 {
  width: 8px
}

.w9 {
  width: 9px
}

.w10 {
  width: 10px
}

.w12 {
  width: 12px
}

.w16 {
  width: 16px
}

.w18 {
  width: 18px
}

.w20 {
  width: 20px
}

.w30 {
  width: 30px
}

.w40 {
  width: 40px
}

.w50 {
  width: 50px
}

.w60 {
  width: 60px
}

.w70 {
  width: 70px
}

.w80 {
  width: 80px
}

.w90 {
  width: 90px
}

.w100 {
  width: 100px
}

.w110 {
  width: 110px
}

.w120 {
  width: 120px
}

.w130 {
  width: 130px
}

.w140 {
  width: 140px
}

.w150 {
  width: 150px
}

.w160 {
  width: 160px
}

.w180 {
  width: 180px
}

.w200 {
  width: 200px
}

.w220 {
  width: 220px
}

.w230 {
  width: 230px
}

.w240 {
  width: 240px
}

.w250 {
  width: 250px
}

.w260 {
  width: 260px
}

.w280 {
  width: 280px
}

.w296 {
  width: 296px
}

.w300,.w320 {
  width: 300px
}

.w400 {
  width: 400px
}

.w500 {
  width: 500px
}

.w510 {
  width: 510px
}

.w520 {
  width: 520px
}

.w530 {
  width: 530px
}

.w540 {
  width: 540px
}

.w550 {
  width: 550px
}

.w560 {
  width: 560px
}

.w600 {
  width: 600px
}

.w700 {
  width: 700px
}

.w780 {
  width: 780px
}

.w800 {
  width: 800px
}

.w1000 {
  width: 1000px
}

.w1200 {
  width: 1200px
}

.w10p {
  width: 10%
}

.w20p {
  width: 20%
}

.w25p {
  width: 25%
}

.w30p {
  width: 30%
}

.w40p {
  width: 40%
}

.w50p {
  width: 50%
}

.w60p {
  width: 60%
}

.w70p {
  width: 70%
}

.w80p {
  width: 80%
}

.w90p {
  width: 90%
}

.w100p {
  width: 100%
}

.h10 {
  height: 10px
}

.h16 {
  height: 16px
}

.h18 {
  height: 18px
}

.h20 {
  height: 20px
}

.h30 {
  height: 30px
}

.h40 {
  height: 40px
}

.h50 {
  height: 50px
}

.h60 {
  height: 60px
}

.h70 {
  height: 70px
}

.h80 {
  height: 80px
}

.h90 {
  height: 90px
}

.h97 {
  height: 97px
}

.h100 {
  height: 100px
}

.h110 {
  height: 110px
}

.h120 {
  height: 120px
}

.h130 {
  height: 130px
}

.h140 {
  height: 140px
}

.h150 {
  height: 150px
}

.h160 {
  height: 160px
}

.h180 {
  height: 180px
}

.h200 {
  height: 200px
}

.h220 {
  height: 220px
}

.h230 {
  height: 230px
}

.h240 {
  height: 240px
}

.h250 {
  height: 250px
}

.h260 {
  height: 260px
}

.h280 {
  height: 280px
}

.h300 {
  height: 300px
}

.h310 {
  height: 310px
}

.h320 {
  height: 320px
}

.h330 {
  height: 330px
}

.h340 {
  height: 340px
}

.h350 {
  height: 350px
}

.h680 {
  height: 680px
}

.h400 {
  height: 400px
}

.h500 {
  height: 500px
}

.h520 {
  height: 520px
}

.h1000 {
  height: 1000px
}

.mh97 {
  min-height: 97px
}

.h10p {
  height: 10%
}

.h20p {
  height: 20%
}

.h30p {
  height: 30%
}

.h40p {
  height: 40%
}

.h50p {
  height: 50%
}

.h60p {
  height: 60%
}

.h70p {
  height: 70%
}

.h80p {
  height: 80%
}

.h90p {
  height: 90%
}

.h100p {
  height: 100%
}

.wh10 {
  width: 10px;
  height: 10px
}

.wh11 {
  width: 11px;
  height: 11px
}

.wh12 {
  width: 12px;
  height: 12px
}

.wh13 {
  width: 13px;
  height: 13px
}

.wh14 {
  width: 14px;
  height: 14px
}

.wh15 {
  width: 15px;
  height: 15px
}

.wh16 {
  width: 16px;
  height: 16px
}

.wh17 {
  width: 17px;
  height: 17px
}

.wh18 {
  width: 18px;
  height: 18px
}

.wh19 {
  width: 19px;
  height: 19px
}

.wh20 {
  width: 20px;
  height: 20px
}

.wh30 {
  width: 30px;
  height: 30px
}

.wh40 {
  width: 40px;
  height: 40px
}

.wh50 {
  width: 50px;
  height: 50px
}

.wh60 {
  width: 60px;
  height: 60px
}

.wh70 {
  width: 70px;
  height: 70px
}

.wh80 {
  width: 80px;
  height: 80px
}

.wh90 {
  width: 90px;
  height: 90px
}

.wh100 {
  width: 100px;
  height: 100px
}

.wh110 {
  width: 110px;
  height: 110px
}

.wh120 {
  width: 120px;
  height: 120px
}

.wh130 {
  width: 130px;
  height: 130px
}

.wh140 {
  width: 140px;
  height: 140px
}

.wh150 {
  width: 150px;
  height: 150px
}

.wh160 {
  width: 160px;
  height: 160px
}

.wh180 {
  width: 180px;
  height: 180px
}

.wh200 {
  width: 200px;
  height: 200px
}

.wh220 {
  width: 220px;
  height: 220px
}

.wh230 {
  width: 230px;
  height: 230px
}

.wh240 {
  width: 240px;
  height: 240px
}

.wh250 {
  width: 250px;
  height: 250px
}

.wh260 {
  width: 260px;
  height: 260px
}

.wh280 {
  width: 280px;
  height: 280px
}

.wh300 {
  width: 300px;
  height: 300px
}

.wh400 {
  width: 40px;
  height: 400px
}

.wh500 {
  width: 500px;
  height: 500px
}

.w10vw {
  width: 10vw
}

.w20vw {
  width: 20vw
}

.w30vw {
  width: 30vw
}

.w40vw {
  width: 40vw
}

.w50vw {
  width: 50vw
}

.w60vw {
  width: 60vw
}

.w70vw {
  width: 70vw
}

.w80vw {
  width: 80vw
}

.w90vw {
  width: 90vw
}

.w100vw {
  width: 100vw
}

.h10vh {
  height: 10vh
}

.h20vh {
  height: 20vh
}

.h30vh {
  height: 30vh
}

.h40vh {
  height: 40vh
}

.h50vh {
  height: 50vh
}

.h60vh {
  height: 60vh
}

.h70vh {
  height: 70vh
}

.h80vh {
  height: 80vh
}

.h90vh {
  height: 90vh
}

.h100vh {
  height: 100vh
}

.wh10p {
  width: 10%;
  height: 10%
}

.wh20p {
  width: 20%;
  height: 20%
}

.wh30p {
  width: 30%;
  height: 30%
}

.wh40p {
  width: 40%;
  height: 40%
}

.wh50p {
  width: 50%;
  height: 50%
}

.wh60p {
  width: 60%;
  height: 60%
}

.wh70p {
  width: 70%;
  height: 70%
}

.wh80p {
  width: 80%;
  height: 80%
}

.wh90p {
  width: 90%;
  height: 90%
}

.wh100p {
  width: 100%;
  height: 100%
}

.br2 {
  border-radius: 2px
}

.br3 {
  border-radius: 3px
}

.br4 {
  border-radius: 4px
}

.br5 {
  border-radius: 5px
}

.br6 {
  border-radius: 6px
}

.br8 {
  border-radius: 8px
}

.br10 {
  border-radius: 10px
}

.br50p {
  border-radius: 50%
}

.br100p {
  border-radius: 100%
}

.fl {
  float: left
}

.fr {
  float: right
}

.cb {
  clear: both
}

.db {
  display: block
}

.di {
  display: inline
}

.dib {
  display: inline-block
}

.dn {
  display: none
}

.os {
  overflow: scroll
}

.oxs {
  overflow-x: scroll
}

.oys {
  overflow-y: scroll
}

.oh {
  overflow: hidden
}

.oxh {
  overflow-x: hidden
}

.oyh {
  overflow-y: hidden
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis
}

.pr {
  position: relative
}

.pf {
  position: fixed
}

.pa {
  position: absolute
}

.tl0 {
  left: 0;
  top: 0
}

.rb0 {
  right: 0;
  bottom: 0
}

.l0 {
  left: 0
}

.l1 {
  left: 1px
}

.l2 {
  left: 2px
}

.l3 {
  left: 3px
}

.l4 {
  left: 4px
}

.l5 {
  left: 5px
}

.l6 {
  left: 6px
}

.l7 {
  left: 7px
}

.l8 {
  left: 8px
}

.l9 {
  left: 9px
}

.l10 {
  left: 10px
}

.l20 {
  left: 20px
}

.l30 {
  left: 30px
}

.l40 {
  left: 40px
}

.l50 {
  left: 50px
}

.l60 {
  left: 60px
}

.l70 {
  left: 70px
}

.l80 {
  left: 80px
}

.l90 {
  left: 90px
}

.l100 {
  left: 100px
}

.l10p {
  left: 10%
}

.l20p {
  left: 20%
}

.l30p {
  left: 30%
}

.l40p {
  left: 40%
}

.l50p {
  left: 50%
}

.l60p {
  left: 60%
}

.l70p {
  left: 70%
}

.l80p {
  left: 80%
}

.l90p {
  left: 90%
}

.l100p {
  left: 100%
}

.t10p {
  top: 10%
}

.t20p {
  top: 20%
}

.t30p {
  top: 30%
}

.t40p {
  top: 40%
}

.t50p {
  top: 50%
}

.t60p {
  top: 60%
}

.t70p {
  top: 70%
}

.t80p {
  top: 80%
}

.t90p {
  top: 90%
}

.t100p {
  top: 100%
}

.t-10 {
  top: -10px
}

.t-20 {
  top: -20px
}

.t-30 {
  top: -30px
}

.t-40 {
  top: -40px
}

.t-50 {
  top: -50px
}

.t-60 {
  top: -60px
}

.r0 {
  right: 0
}

.r1 {
  right: 1px
}

.r2 {
  right: 2px
}

.r3 {
  right: 3px
}

.r4 {
  right: 4px
}

.r5 {
  right: 5px
}

.r6 {
  right: 6px
}

.r7 {
  right: 7px
}

.r8 {
  right: 8px
}

.r9 {
  right: 9px
}

.r10 {
  right: 10px
}

.r20 {
  right: 20px
}

.r30 {
  right: 30px
}

.r40 {
  right: 40px
}

.r50 {
  right: 50px
}

.r60 {
  right: 60px
}

.r70 {
  right: 70px
}

.r80 {
  right: 80px
}

.r90 {
  right: 90px
}

.r100 {
  right: 100px
}

.r200 {
  right: 200px
}

.t0 {
  top: 0
}

.t1 {
  top: 1px
}

.t2 {
  top: 2px
}

.t3 {
  top: 3px
}

.t4 {
  top: 4px
}

.t5 {
  top: 5px
}

.t6 {
  top: 6px
}

.t7 {
  top: 7px
}

.t8 {
  top: 8px
}

.t9 {
  top: 9px
}

.t10 {
  top: 10px
}

.t20 {
  top: 20px
}

.t30 {
  top: 30px
}

.t40 {
  top: 40px
}

.t50 {
  top: 50px
}

.t60 {
  top: 60px
}

.t70 {
  top: 70px
}

.t80 {
  top: 80px
}

.t90 {
  top: 90px
}

.t100 {
  top: 100px
}

.t200 {
  top: 200px
}

.b0 {
  bottom: 0
}

.b1 {
  bottom: 1px
}

.b2 {
  bottom: 2px
}

.b3 {
  bottom: 3px
}

.b4 {
  bottom: 4px
}

.b5 {
  bottom: 5px
}

.b6 {
  bottom: 6px
}

.b7 {
  bottom: 7px
}

.b8 {
  bottom: 8px
}

.b9 {
  bottom: 9px
}

.b10 {
  bottom: 10px
}

.b20 {
  bottom: 20px
}

.b30 {
  bottom: 30px
}

.b40 {
  bottom: 40px
}

.b50 {
  bottom: 50px
}

.b60 {
  bottom: 60px
}

.b70 {
  bottom: 70px
}

.b80 {
  bottom: 80px
}

.b90 {
  bottom: 90px
}

.b100 {
  bottom: 100px
}

.cp {
  cursor: pointer
}

.cd {
  cursor: default!important
}

.cc {
  cursor: copy
}

.tal {
  text-align: left
}

.tar {
  text-align: right
}

.tac {
  text-align: center
}

.lh10 {
  line-height: 10px
}

.lh11 {
  line-height: 11px
}

.lh12 {
  line-height: 12px
}

.lh13 {
  line-height: 13px
}

.lh14 {
  line-height: 14px
}

.lh15 {
  line-height: 15px
}

.lh16 {
  line-height: 16px
}

.lh17 {
  line-height: 17px
}

.lh18 {
  line-height: 18px
}

.lh19 {
  line-height: 19px
}

.lh20 {
  line-height: 20px
}

.lh21 {
  line-height: 21px
}

.lh22 {
  line-height: 22px
}

.lh24 {
  line-height: 24px
}

.lh26 {
  line-height: 26px
}

.lh28 {
  line-height: 28px
}

.lh30 {
  line-height: 30px
}

.lh31 {
  line-height: 31px
}

.lh32 {
  line-height: 32px
}

.lh33 {
  line-height: 33px
}

.lh36 {
  line-height: 36px
}

.lh40 {
  line-height: 40px
}

.lh50 {
  line-height: 50px
}

.lh60 {
  line-height: 60px
}

.lh80 {
  line-height: 80px
}

.lh100 {
  line-height: 100px
}

.jcc {
  justify-content: center
}

.fg0 {
  flex-grow: 0
}

.fg1 {
  flex-grow: 1
}

.fs0 {
  flex-shrink: 0
}

.fs1 {
  flex-shrink: 1
}

.fdr {
  flex-direction: row
}

.fdc {
  flex-direction: column
}

.fwn {
  flex-wrap: nowrap
}

.fww {
  flex-wrap: wrap
}

.aic {
  align-items: center
}

.z0 {
  z-index: 0
}

.z1 {
  z-index: 1
}

.z2 {
  z-index: 2
}

.z3 {
  z-index: 3
}

.z4 {
  z-index: 4
}

.z5 {
  z-index: 5
}

.z6 {
  z-index: 6
}

.z7 {
  z-index: 7
}

.z8 {
  z-index: 8
}

.z9 {
  z-index: 9
}

.z10 {
  z-index: 10
}

.z11 {
  z-index: 11
}

.z12 {
  z-index: 12
}

.z13 {
  z-index: 13
}

.z14 {
  z-index: 14
}

.z15 {
  z-index: 15
}

.z16 {
  z-index: 16
}

.z17 {
  z-index: 17
}

.z18 {
  z-index: 18
}

.z19 {
  z-index: 19
}

.z20 {
  z-index: 20
}

.z30 {
  z-index: 30
}

.z40 {
  z-index: 40
}

.z50 {
  z-index: 50
}

.z60 {
  z-index: 60
}

.z70 {
  z-index: 70
}

.z80 {
  z-index: 80
}

.z90 {
  z-index: 90
}

.z100 {
  z-index: 100
}

.vh {
  visibility: hidden
}

.vu {
  visibility: unset
}

.ta01 {
  transition: all .1s
}

.ta02 {
  transition: all .2s
}

.ta03 {
  transition: all .3s
}

.ta04 {
  transition: all .4s
}

.ta05 {
  transition: all .5s
}

.ta06 {
  transition: all .6s
}

.ta07 {
  transition: all .7s
}

.ta08 {
  transition: all .8s
}

.ta09 {
  transition: all .9s
}

.ta1 {
  transition: all 1s
}

.ta2 {
  transition: all 2s
}

.ta3 {
  transition: all 3s
}

.ti10 {
  text-indent: 10px
}

.ti20 {
  text-indent: 20px
}

.ti30 {
  text-indent: 30px
}

.ti40 {
  text-indent: 40px
}

.o01 {
  opacity: .1
}

.o02 {
  opacity: .2
}

.o03 {
  opacity: .3
}

.o04 {
  opacity: .4
}

.o05 {
  opacity: .5
}

.o06 {
  opacity: .6
}

.o1 {
  opacity: 1
}

.ls-1 {
  letter-spacing: -1px
}

.ls-2 {
  letter-spacing: -2px
}

.ls-3 {
  letter-spacing: -3px
}

.ls1 {
  letter-spacing: 1px
}

.ls2 {
  letter-spacing: 2px
}

.ls3 {
  letter-spacing: 3px
}
